
.container{
    display:grid;
    grid-template-columns:1fr 4fr;
    height:100vh;
}






/* sidebar section */

section.sidebar{
    height:100%;
    grid-row:1/3;
}

.sidebar-back{
    background-color:rgb(0, 110, 255);
    color:#fff;
    padding-left:20px;
    padding-top:15px;

    height:100%;
    font-size:1.3rem;

    display:flex;
    flex-direction:column;
    row-gap:30px;

}


h1.side-header{
    font-size:2.5rem;
    
}

.dash-header{
    display:flex;
    align-items:center;
}

.dash-header .fa-table-columns{
    font-size:2.1rem;
    margin-right:10px;
    transform: translateY(-11px);
}

.sidebar-back i{
    font-size:17px;
    color:#fff;
    margin-right:10px;
    margin-top:25px;
    display:inline-block;
}

.sidebar-back i+p{
    display:inline-block;
}







/* Main section */

.main{
    grid-column:2/3;
    height:100%;
    
}

.search{
    background-color:#fff;
    padding:25px 35px 10px;
}

.search-box i{
    margin-right:12px;
}

#search{
    border-radius:22px;
    padding:4px 55px;
    border: 1px solid rgb(175, 175, 175);
}

.search1, .search2{
    display:flex;
    justify-content:space-between;
    padding:15px 40px 5px;
    margin-bottom: 10px;
}

.search2{
    margin-top:14px;
}

.search2 img{
    width:85px;
    margin-right:12px;
    border-radius:50%;
    transform: translateY(-10px);
}


.blue-btn{
    background-color:rgb(0, 128, 255);
    padding:10px 25px;
    margin-right:15px;

    border-radius:22px;
    border:none;

    color:#fff;
    font-size:16px;
}

.bell-moragn{
    display:flex;
    column-gap:15px;
    margin-right:100px;
    font-size:1.2rem;
    font-weight:550;
}

.bell-moragn img{
    width:55px;
    margin-right:12px;
    border-radius:50%;
    transform: translateY(-12px);
}

.bell-moragn i{
    font-size: 1.4rem;
    transform: translateY(3px);
}

.btns{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}





/* cards' part */

.cards-back{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:55px;

    background-color:rgb(238, 253, 253);
    padding:25px 35px 50px;
    height:84%;
}

.projects{
    grid-column:1/3;
}


.projects > h3:first-child{
    margin-left: 50px;
}


.projects-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}

.pro-card{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    row-gap: 22px;

    background-color:white;
    padding:15px 28px;
    margin:15px 75px;
    min-width: 300px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
    border-radius:10px;

    /* position:relative; */
    border-left:6px solid rgb(0, 128, 255);

}


.star-icon{
    display:flex;
    justify-content:end;
    column-gap:12px;

}




.adds{
    grid-column:3/4;
    margin-left: 55px;
    display:grid;
    grid-template-rows:1fr 1fr;
}

.ann{
    grid-row:1/2;
}

.trend-group{
    grid-row:2/3;
}

.anno-card{

    background-color: white;
    padding:20px 15px;
    max-width: 340px;
    max-height: 700px;
    
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:10px;
}


h2{
    font-weight:600;
    font-size:1.5rem;
}

h3{
    font-weight:550;
    font-size:1.3rem;
    margin-bottom:10px;
}

h4{
    font-weight:550;
    font-size:1.2rem;
    margin-bottom:8px;
}

.flex{
    display:flex;
    column-gap:12px;
}

.grey{
    color:rgb(135, 135, 135);
}

.extra-grey{
    color:rgb(153, 152, 152);
    font-size:1.2rem;
    font-weight: 500;
}

.grey-line{
    width:95%;
    height:2px;
    background-color:rgb(234, 233, 233);

    margin-block:14px 25px;
}


.trend-card{
    background-color: white;
    padding:20px 15px;
    max-height:500px;

    max-width: 340px;
    min-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:10px;
}

.distro{
    margin-bottom:15px;
}

.trend{
    display:flex;
    column-gap:15px;
    margin-top:15px;
}


.trend-card img{
    display:inline-block;
    width:45px;

    margin-right:10px;
    border-radius:50%;
}